<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>账号管理 | 账号列表</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
    <script src="/resources/static/layui/layui.js"></script>
</head>

<body>
<!-- 搜索栏 -->
<form id="searchForm" class="layui-form" action="" lay-filter="searchForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input" id="loginName" name="loginName" placeholder="账号" autocomplete="off">
            </div>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="search"><i class="layui-icon layui-icon-search"></i>查询</button>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>

<!-- table -->
<table id="lay_table" lay-filter="tbf"></table>

<!-- 头工具栏toolbar -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
    </div>
</script>

<!-- 工具条tool -->
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<script type="text/javascript">
    layui.config({
        base: '/resources/static/layui/base/'
    }).use(['table', 'form', 'baselist'], function () {
        var table = layui.table,
            form = layui.form,
            baselist = layui.baselist;

        // 渲染表格
        baselist.renderTable({
            title: '账号',
            url: '/user/list',
            cols: [[
                {type: 'numbers'},
                {field: 'loginName', title: '账号', align: 'center'},
                {field: 'nickName', title: '昵称', align: 'center'},
                {field: 'remark', title: '备注', align: 'center'},
                {
                    field: 'status', title: '状态', align: 'center',
                    templet: function (d) {
                        if (d.status == 1) {
                            return '<input type="checkbox" checked name="status" value="' + d.id + '" lay-skin="switch" lay-text="开启|禁用" lay-filter="status">';
                        } else if (d.status == 0) {
                            return '<input type="checkbox" name="status"value="' + d.id + '" lay-skin="switch" lay-text="开启|禁用" lay-filter="status">';
                        }
                    }
                },
                {field: 'createdDate', title: '创建时间', align: 'center'},
                {field: 'updatedDate', title: '修改时间', align: 'center'},
                {title: '操作', align: 'center', toolbar: '#tool'}
            ]]
        });

        table.on('toolbar(tbf)', function (obj) {
            switch (obj.event) {
                case 'add':
                    baselist.createRow({
                        title: '新增账号',
                        content: '/user/add',
                        area: ['380px', '420px']
                    });
                    break;
            }
        });

        table.on('tool(tbf)', function (obj) {
            var record = obj.data;
            switch (obj.event) {
                case 'edit':
                    baselist.updateRow({
                        title: '编辑账号',
                        content: '/user/update',
                        area: ['380px', '420px']
                    }, record);
                    break;
                case 'delete':
                    var rec = {};
                    rec.id = record.id;
                    baselist.removeRow('/user/delete', rec);
                    break;
            }
        });

        // 监听switch开关: 状态status
        form.on('switch(status)', function (data) {
            var record = {};
            record.id = data.value;
            if (data.elem.checked) {
                record.status = 1;
            } else {
                record.status = 0;
            }

            baselist.doPost("/user/update", record);
        });
    });
</script>
</body>
</html>