<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改 | 密码</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
    <script src="/resources/static/layui/layui.js"></script>
</head>

<body>
<form class="layui-form" action="" lay-filter="form" style="padding: 10px;">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">原密码:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input class="layui-input" type="password" name="pwd" lay-verify="required" autocomplete="off">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">新密码:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input class="layui-input" type="password" name="npwd" lay-verify="required" autocomplete="off">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">密码确认:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input class="layui-input" type="password" name="rpwd" lay-verify="required" autocomplete="off">
            </div>
        </div>
    </div>

    <div style="display: none">
        <button class="layui-btn" lay-submit lay-filter="submit">确定</button>
    </div>
</form>

<script type="text/javascript">
    layui.use('form', function () {
        $ = layui.jquery;     // 引入jquery
        var form = layui.form;

        // 表单初始赋值
        form.val('form', {
            "pwd": "",
            "npwd": "",
            "rpwd": ""
        })

        // 提交
        form.on('submit(submit)', function (data) {
            var record = data.field;
            $.ajax({
                type: "POST",
                url: "/user/resetPwd",
                data: record,
                dataType: "json",
                success: function (res) {
                    if (res.success) {
                        layer.alert(res.message, {
                            icon: 1,
                        }, function () {
                            window.parent.location.reload();
                        });
                        layer.closeAll('iframe');
                    } else {
                        layer.msg(res.message, {icon: 2});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>