.layui-side-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
}

.layui-layout-admin .layui-logo {
    height: 45px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 3px;
    color: #42b983;
    background-color: #263445;
}

.layui-layout-admin .layui-side {
    top: 45px;
}

.layui-layout-admin .layui-header {
	position: fixed;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    height: 45px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.layui-layout-admin .layui-body {
    top: 45px;
    bottom: 0;
}

.layui-layout-admin .layui-footer {
    height: 20px;
    line-height: 20px;
}

.layui-bg-black {
    background-color: #263445 !important;
}

.layui-nav {
    background-color: #263445;
    color: rgb(64, 158, 255);
}

.layui-nav .layui-nav-more {
    border-top-color: #666;
}

.layui-nav .layui-nav-mored {
    border-color: transparent transparent #666;
}

.layui-icon {
    font-size: 12px;
}

.layui-nav * {
    font-size: 12px;
}

.layui-nav .layui-nav-item {
    line-height: 45px;
}

.layui-nav .layui-this:after,.layui-nav-bar,.layui-nav-tree .layui-nav-itemed:after {
	background-color: transparent;
}

.layui-nav-tree .layui-nav-item a:hover {
	background-color: #263445 !important;
}

.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a,.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-this>a:hover {
    background-color: transparent;
    color: #42b983;
}

.layui-nav-tree .layui-nav-child,.layui-nav-tree .layui-nav-child a:hover {
	background: 0 0;
	background-color: #001528 !important;
	color: #FFF;
}

.layui-nav-itemed>.layui-nav-child {
	display: block;
	padding: 0;
	background-color: #1f2d3d !important;
}

.layui-tab {
    margin: 0;
    height: 34px;
}

.layui-tab-title {
    height: 34px;
    border-bottom-color: #d8dce5;
}

.layui-tab-title li {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    min-width: 30px;
    padding: 0 8px;
    border: 1px solid #d8dce5;
    color: #495060;
    background: #fff;
    margin: 4px 0 4px 5px;
}

.layui-tab-title .layui-this {
    background-color: #42b983;
    color: #fff;
    border-color: #42b983;
}

.layui-tab-title .layui-this:after {
    border: none;
}

.layui-tab-item {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.layui-tab-title li .layui-tab-close {
    width: 16px;
    height: 16px;
    line-height: 18px;
    margin-left: 3px;
    font-size: 12px;
}

.layui-tab-title li .layui-tab-close:hover {
    border-radius: 50%;
    background-color: #b4bccc;
    color: #fff;
}

.layui-tab-content {
    padding: 0;
}

.layui-header-text{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.layui-header-item-text{
    text-align: center;
    color: #66CDAA;
}

.user-avatar {
	cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}