<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>后台</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
    <link href="/resources/static/css/index.css" rel="stylesheet"/>
    <script src="/resources/static/layui/layui.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    <div class="layui-header">
        <!-- 顶部左侧 -->
        <div class="layui-logo">后台管理系统</div>

        <!-- 顶部右侧 -->
        <ul class="layui-nav layui-layout-left" style="padding: 0 0;">
            <li class="layui-nav-item">
                <a href="javascript:;" onclick="javascript:switchNav();" style="padding: 0 0;">
                    <i id="icon-shrink" class="layui-icon layui-icon-shrink-right" style="font-size: 16px;"></i>
                </a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" onclick="javascript:switchFullScreen();">
                    <i id="icon-screen" class="layui-icon layui-icon-screen-full"></i>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://wpimg.wallstcn.com/f778738c-e4f8-4870-b634-56703b4acafe.gif?imageView2/1/w/80/h/80" class="user-avatar">
                    <span th:text="${user.nickName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#" onclick="javascript:resetPwd();">修改密码</a>
                    </dd>
                    <dd>
                        <a href="#" onclick="javascript:logout();">退出系统</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul id="nav-tree" class="layui-nav layui-nav-tree" lay-filter="test"></ul>
        </div>
    </div>

    <!-- 右侧内容 -->
    <div class="layui-body">
        <div class="layui-tab" lay-filter="tabs_box" lay-allowclose="true">
            <ul id="top_tabs" class="layui-tab-title">
                <li class="layui-this" lay-id="0">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">欢迎登录后台管理系统!</div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div class="layui-footer footer">
        <center>Copyright © 2011-2019, All Rights Reserved.</center>
    </div>
</div>

<script type="text/javascript">
    layui.use(['element', 'layer'], function () {
        $ = layui.jquery;
        element = layui.element;
        var layer = layui.layer;

        // 左侧导航
        createLeftNav();

        element.on('nav(test)', function (data) {
            spreadNav();
        });
    });

    // 左侧导航
    function createLeftNav() {
        $.ajax({
            type: "GET",
            url: "user/getMenuList",
            dataType: "json",
            success: function (res) {
                var parentHtml = document.getElementById("nav-tree");
                for (var i = 0; i < res.length; i++) {
                    var menu = res[i];

                    var li = document.createElement("li");
                    if (i == 0) {
                        li.setAttribute("class", "layui-nav-item layui-nav-itemed");
                    } else {
                        li.setAttribute("class", "layui-nav-item");
                    }
                    var a = document.createElement("a");
                    a.setAttribute("href", "javascript:;");
                    var icon = document.createElement("i");
                    icon.setAttribute("class", "layui-icon " + menu.parentIcon);
                    icon.setAttribute("style", "color: #42b983;");
                    a.appendChild(icon);
                    var cite = document.createElement("cite");
                    cite.setAttribute("style", "padding-left: 20px;");
                    cite.appendChild(document.createTextNode(menu.parentName));
                    a.appendChild(cite);
                    li.appendChild(a);

                    var dl = document.createElement("dl");
                    dl.setAttribute("class", "layui-nav-child");
                    for (var j = 0; j < menu.childMenus.length; j++) {
                        var dd = document.createElement("dd");

                        var aa = document.createElement("a");
                        aa.setAttribute("class", "nav-tab");
                        aa.setAttribute("style", "padding-left: 52px;");
                        aa.setAttribute("href", "javascript:;");
                        aa.setAttribute("src", menu.childMenus[j].pageUrl);
                        aa.setAttribute("onclick", "navClick('" + JSON.stringify(menu.childMenus[j]) + "')");
                        aa.appendChild(document.createTextNode(menu.childMenus[j].name));
                        dd.appendChild(aa);

                        dl.appendChild(dd);
                    }
                    li.appendChild(dl);

                    parentHtml.appendChild(li);
                }

                element.render('nav');
            }
        })
    }

    // 左侧导航
    function navClick(menu) {
        var menuObj = JSON.parse(menu);
        addTab(menuObj.id, menuObj.name, menuObj.pageUrl);
    }

    function addTab(id, title, url) {
        var isActive = false;
        $.each($(".layui-tab-title li[lay-id]"), function () {
            if ($(this).attr("lay-id") == id) {
                isActive = true;
            }
        })

        if (isActive) {
            element.tabChange('tabs_box', id);
            // 切换后刷新iframe
            $(".layui-tab-item.layui-show").find("iframe").attr("src", url);
        } else {
            element.tabAdd('tabs_box', {
                id: id,
                title: title,
                content: createFrame(url)
            })
            element.tabChange('tabs_box', id);
        }
    }

    function createFrame(url) {
        var s = '<iframe id="mainiframe" scrolling="no" src="' + url + '" style="width: 100%;height: 100%;position: absolute;border: none;"></iframe>';
        return s;
    }

    // 菜单切换
    var isShow = true;

    function switchNav() {
        if (isShow) {
            shrinkNav();
        } else {
            spreadNav();
        }
    }

    // 展开菜单
    function spreadNav() {
        $('.layui-side.layui-bg-black').width(200);

        //将footer和body的宽度修改
        $('.layui-body').css('left', 200 + 'px');
        $('.layui-footer').css('left', 200 + 'px');

        $('#icon-shrink').removeClass("layui-icon layui-icon-spread-left");
        $('#icon-shrink').addClass("layui-icon layui-icon-shrink-right");

        isShow = true;
    }

    // 收缩菜单
    function shrinkNav() {
        $('.layui-side.layui-bg-black').width(52);

        //将footer和body的宽度修改
        $('.layui-body').css('left', 52 + 'px');
        $('.layui-footer').css('left', 52 + 'px');

        $('#icon-shrink').removeClass("layui-icon layui-icon-shrink-right");
        $('#icon-shrink').addClass("layui-icon layui-icon-spread-left");

        isShow = false;
    }

    // 全屏切换
    function switchFullScreen() {
        var fullscreenElement = document.fullscreenElement || document.mozFullScreenElement
            || document.webkitFullscreenElement;

        if (fullscreenElement == null) {
            entryFullScreen();
            $('#icon-screen').removeClass("layui-icon layui-icon-screen-full");
            $('#icon-screen').addClass("layui-icon layui-icon-screen-restore");
        } else {
            exitFullScreen();
            $('#icon-screen').removeClass("layui-icon layui-icon-screen-restore");
            $('#icon-screen').addClass("layui-icon layui-icon-screen-full");
        }
    }

    // 进入全屏
    function entryFullScreen() {
        var docE = document.documentElement;
        if (docE.requestFullScreen) {
            docE.requestFullScreen();
        } else if (docE.mozRequestFullScreen) {
            docE.mozRequestFullScreen();
        } else if (docE.webkitRequestFullScreen) {
            docE.webkitRequestFullScreen();
        }
    }

    // 退出全屏
    function exitFullScreen() {
        var docE = document;
        if (docE.exitFullscreen) {
            docE.exitFullscreen();
        } else if (docE.mozCancelFullScreen) {
            docE.mozCancelFullScreen();
        } else if (docE.webkitCancelFullScreen) {
            docE.webkitCancelFullScreen();
        }
    }

    // 修改密码
    function resetPwd() {
        layer.open({
            type: 2,
            title: '修改密码',
            content: '/user/resetPwd',
            resize: false,
            area: ['320px', '220px'],
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                // 获取弹出层中的form表单
                var form = parent.layer.getChildFrame('form', index);

                // 获取表单中的确定按钮
                var formButton = form.find('button')[0];

                // 触发确定按钮事件
                formButton.click();
            }
        })
    }

    // 退出系统
    function logout() {
        layer.confirm('您确定现在退出系统吗？', {
            title: '温馨提示',
            icon: 3,
        }, function () {
            window.location.href = "/logout";
        }, function () {

        });
    }
</script>
</body>
</html>