<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
</head>

<style type="text/css">
    .loginBody {
        border-radius: 5px;          /*w3标准*/
        -webkit-border-radius: 5px;  /*Chrome、Safari*/
        -moz-border-radius: 5px;     /*Firefox*/
        background-clip: padding-box;
        margin: 150px auto;
        width: 300px;
        padding: 35px 35px 15px 35px;
        background: #FFFFFF;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
        overflow: hidden;
    }
</style>

<body class="loginBody">
    <form class="layui-form" action="" lay-filter="form">

    </form>
</body>
</html>