<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link href="/resources/static/css/login.css" rel="stylesheet"/>
    <script src="/resources/static/js/jquery-1.8.0.min.js"></script>
</head>

<body>
<div class="login">
    <h1>后台管理系统</h1>
    <form id="loginForm" action="/login" method="post" accept-charset="utf-8">
        <input type="text" id="loginName" name="loginName" placeholder="用户名" required
               oninvalid="setCustomValidity('请输入用户名')" oninput="setCustomValidity('')"/>
        <input type="password" id="password" name="password" placeholder="密码" required
               oninvalid="setCustomValidity('请输入密码')" oninput="setCustomValidity('')"/>
        <button id="btn-submit" type="submit" class="btn btn-primary btn-block btn-large">登录</button>
        <div class="msg"><span th:text="${msg}"></span></div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-submit").click(function () {
            login();
        });

        document.onkeydown = function (e) {
            if (e.keyCode == 13) {
                login();
            }
        };
    });

    function login() {
        var loginName = $("#loginName").val();
        loginName = $.trim(loginName);
        var password = $("#password").val();
        password = $.trim(password);
        if (loginName != "" && password != "") {
            $("#loginForm").submit();
        }
    }
</script>
</body>
</html>
