<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色管理 | 角色列表</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
    <script src="/resources/static/layui/layui.js"></script>
</head>

<body style="overflow-y: hidden">
<!-- 搜索栏 -->
<form id="searchForm" class="layui-form" action="" lay-filter="searchForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名称:</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="name" name="name" autocomplete="off">
            </div>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="search"><i class="layui-icon layui-icon-search"></i>查询</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>

<!-- table -->
<table id="lay_table" lay-filter="tbf"></table>

<!-- 工具栏toolbar -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="auth"><i class="layui-icon layui-icon-auz"></i>设置权限</button>
    </div>
</script>

<!-- 工具条tool -->
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<script type="text/javascript">
    layui.config({
        base: '/resources/static/layui/base/'
    }).use(['table', 'baselist'], function () {
        var table = layui.table,
            baselist = layui.baselist;

        // 渲染表格
        baselist.renderTable({
            title: '角色',
            url: '/role/list',
            cols: [[
                {type: 'checkbox'},
                {field: 'name', title: '角色名称', align: 'center'},
                {field: 'remark', title: '角色描述', align: 'center'},
                {field: 'createdDate', title: '创建时间', align: 'center'},
                {field: 'updatedDate', title: '修改时间', align: 'center'},
                {title: '操作', align: 'center', toolbar: '#tool'}
            ]]
        });

        table.on('toolbar(tbf)', function (obj) {
            switch (obj.event) {
                case 'add':
                    baselist.createRow({
                        title: '新增角色',
                        content: '/role/add',
                        area: ['360px', '250px']
                    });
                    break;
                case 'auth':
                    var record = baselist.validateSingleSelected();
                    if (!record) {
                        return;
                    }
                    baselist.updateRow({
                        title: '设置权限',
                        content: '/role/updateAuthority',
                        area: ["620px", "400px"]
                    }, record);
                    break;
            }
        });

        table.on('tool(tbf)', function (obj) {
            var record = obj.data;
            switch (obj.event) {
                case 'edit':
                    baselist.updateRow({
                        title: '编辑角色',
                        content: '/role/update',
                        area: ['360px', '250px']
                    }, record);
                    break;
                case 'delete':
                    baselist.removeRow('/role/delete', record);
                    break;
            }
        });

        baselist.doubleRow({
            title: '编辑角色',
            content: '/role/update',
            area: ['380px', '250px']
        })
    });
</script>
</body>
</html>