<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色管理 | 角色列表</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
    <script src="/resources/static/layui/layui.js"></script>
</head>

<body>
<!-- 搜索栏 -->
<form id="searchForm" class="layui-form" action="" lay-filter="searchForm">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">角色名称:</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="name" name="name" autocomplete="off">
            </div>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>查询
            </button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>

    </div>
</form>

<!-- table -->
<table id="lay_table" class="layui-hide" lay-filter="tbf"></table>

<!-- 头工具栏toolbar -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>新增
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="auth">
            <i class="layui-icon layui-icon-auz"></i>设置权限
        </button>
    </div>
</script>

<!-- 工具条tool -->
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>删除
    </a>
</script>

<script type="text/javascript">
    layui.config({
        base: '/resources/static/layui/'
    }).use(['table', 'base'], function () {
        var table = layui.table,
            base = layui.base;

        // 查询
        base.querySubmit("#searchForm");

        // 渲染表格
        base.renderTable({
            title: '角色',
            url: '/role/list',
            cols: [[
                {type: 'radio', fixed: true},
                {field: 'name', title: '角色名称', align: 'center'},
                {field: 'remark', title: '角色描述', align: 'center'},
                {field: 'createdDate', title: '创建时间', align: 'center'},
                {field: 'updatedDate', title: '修改时间', align: 'center'},
                {title: '操作', align: 'center', toolbar: '#tool'}
            ]]
        });

        table.on('toolbar(tbf)', function (obj) {
            switch (obj.event) {
                case 'add':
                    base.createRow({
                        title: '新增角色',
                        content: '/role/add',
                        offset: '50px',
                        area: ['380px', '250px']
                    });
                    break;
                case 'auth':
                    var record = base.validateSingleSelected();
                    if(!record){
                        return;
                    }
                    layer.open({
                        type: 2,
                        title: '设置权限',
                        content: '/role/updateAuthority',
                        skin: 'layui-layer-molv',
                        offset: '50px',
                        area: ["500px", "300px"],
                        resize: false,
                        success: function (layero, index) {
                            var iframe = layero.find("iframe")[0].contentWindow;
                            // 向子页面的全局函数setRecordData传参
                            iframe.setRecordData(record);
                        }
                    })
                    break;
            }
        });

        table.on('tool(tbf)', function (obj) {
            var record = obj.data;

            switch (obj.event) {
                case 'edit':
                    base.updateRow({
                        title: '编辑角色',
                        content: '/role/update',
                        offset: '50px',
                        area: ['380px', '250px']
                    }, record);
                    break;
                case 'delete':
                    base.removeRow('/role/delete', record);
                    break;
            }
        });

        base.doubleRow({
            title: '编辑角色',
            content: '/role/update',
            offset: '50px',
            area: ['380px', '250px']
        })
    });
</script>
</body>
</html>